:root{
    --color_footer: #F2F2F2;
    --font_color_footer: #707D89;
    --font_style_footer: Arial;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

header{
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100%;
    padding-left: 75%;
    flex-direction: row;
    font-size: calc(1rem + .5vw);
    margin-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    width: 100vw;
    margin-right: 2rem;
    /*flex-wrap: wrap;   Esta linea hace que los elementos se reacomoden dependiendo el tamaño de la pantalla hacia abajo*/
}

nav > div {
    display: flex;
    justify-content: left;
    padding-left: 2rem;
    padding-right: 2rem;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    height: 5rem;
    max-height: 5rem;
}

.session_button{
    background-color: #1A73E8;
    border-radius: .5rem;
    min-width: calc(18rem + 2vw);
    justify-content: center;
    color: white;
}

.menu_button{
    display: flex;
    align-items: baseline;
    height: 100%;
    align-items: center;
}
main{
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/*Letras google*/

.google{
    display: flex;
    font-size: 15rem;
    flex-direction: row;
    font-family:'Noto Sans JP', sans-serif;
    /*@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@700&display=swap');*/
}

.g{
    color: #4285F4;
}

.o1{
    color: #EA4335;
}

.o2{
    color: #FBBC05;
}

.l{
    color: #34A853;
}

/*Barra de Busqueda*/

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search_bar{
    border-radius: 3rem;
    width: 40vw;
    height: 4vh;
    border: darkgray solid .0000001rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    min-width: 10vw;
    max-height: 4vh;
}

.magnifying_glass{
    max-height: 4rem;
    height: 10vh;
    border-radius: 3rem;
    position: absolute;
    justify-content: left;
    padding: 1rem;
    margin-right: 10rem;
}

.microphone{
    max-height: 4rem;
    height: 10vh;
    border-radius: 3rem;
    position: absolute;
    justify-content: left;
    padding: 1rem;
    margin-left: 38%;
}

/*botones*/

.principal_buttons > ul{
    display: flex;
}

.principal_buttons > ul >li{
    display: flex;
    padding: 1rem;
    margin: 1rem .5rem;
    border-radius: 0.5rem;
    background-color: #F8F9FA;
    font-size: 1.5rem;
}

/*Cambio de lenguaje*/

.language{
    margin: 1rem;
}

.language > a{
    text-decoration: none;
    color: blue;
}

footer{
    display: flex;
    font-size: calc(1rem + .5vw);
    flex-wrap: wrap;
    color: var(--font_color_footer);
    font-family: var(--font_style_footer);
    height: 10vh;
}

/*Seleccion de Pais*/

.country_bar{
    background-color: var(--color_footer);
    display: flex;
    width: 100vw;
    height: 5vh;
    align-items: center;
    padding-left: 6rem;
}

.bottom_bar{
    background-color: var(--color_footer);
    display: flex;
    width: 100%;
    height: 5vh;
    flex-wrap: wrap;
    border-top: var(--font_color_footer) 0.1rem solid;
}

/*Barra opciones de google*/

.google_options{
    display: flex;
    width: 50%;
    justify-content: flex-start;
    flex-wrap: wrap;
}


.google_options > ul{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: start;
    width: 100%;
    flex-grow: 1;
}


.google_options > ul > li{
    display: flex;
    flex-direction: row;
    flex-grow: .5;
    justify-content: center;
    align-items: center;
}


/*Primera Barra bottom*/

.privacy_options{
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.privacy_options > ul{
    display: flex;
    width: 75%;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
}

.privacy_options > ul >li{
    display: flex;
    flex-direction: row;
    margin: 1rem;
}
